<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <title>Test</title>
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
    <!-- <link rel="stylesheet" type="text/css" media="screen" href="main.css" />
    <script src="main.js"></script> -->
    <style>
        .error {
            color: red;
        }
        
        .card {
            border: 1px solid white;
            border-radius: 15px;
            box-shadow: 3px 3px 2px 2px #888;
            display: inline-block;
        }
    </style>
</head>
<body>
    <form onsubmit="return search()">
        <!-- { building, hour, minute, days, room, timestamp, page } -->
        <label>Building: </label>
        <input id="building" type="text" />
        <label>Room: </label>
        <input id="room" type="text" />
        <br />

        <label>Time: </label>
        <input id="hour" type="text" size="2" maxlength="2" placeholder="00" /> : <input id="minute" type="text" size="2" maxlength="2" placeholder="00" />
        <br />

        <fieldset>
            <legend>Day</legend>
            <label>M</label>
            <input id="M" type="checkbox" />
            <label>Tu</label>
            <input id="Tu" type="checkbox" />
            <label>W</label>
            <input id="W" type="checkbox" />
            <label>Th</label>
            <input id="Th" type="checkbox" />
            <label>Fr</label>
            <input id="F" type="checkbox" />
        </fieldset>

        <input type="submit" name="Submit" value="Submit" />
    </form>

    <hr/>

    <div id="results"></div>

    <script>
        var days = ['M', 'Tu', 'W', 'Th', 'F'];

        function search() {
            var data = {
                building: $('#building').val() || undefined,
                room: $('#room').val() || undefined,
                hour: parseInt($('#hour').val()) || undefined,
                minute: parseInt($('#minute').val()) || undefined,
                days: []
            };

            days.forEach(function(day) {
                if ($('#' + day).prop('checked')) {
                    data.days.push(day);
                }
            });

            console.log("QUERY: ", data);

            $.post(
                '/search/courses',
                data
            ).done(function(data) {
                console.log(data);
                if (data && data.results && data.results.length > 0) {
                    $('#results').empty();

                    data.results.forEach(function(datum) {
                        $('#results')
                            .append(makeResultCard(datum))
                            .append('<hr/>');
                    });
                } else {
                     $('#results').html('No Results Found');
                }
            }).fail(function(err) {
                console.log(err.to);
                $('#results').html('<p class="error">An Error Occurred Making Your Request</p>');
            });

            return false;
        }

        function padTime(num) {
            var numStr = num.toString();
            if (numStr.length == 0) {
                return '00';
            }
            if (numStr.length == 1) {
                return '0' + numStr;
            }

            return numStr;
        }

        function makeResultCard(datum) {
            var div = $('<div class="card"></div>');
            div.append('<p>' + datum.course + '</p>');
            div.append('<p>Section: ' + datum.section + '</p>');
            div.append('<p>Room: ' + datum.building + datum.room + '</p>');

            var dayList = '';
            days.forEach(function(day) {
                if (datum[day]) {
                    dayList += day;
                }
            });
            div.append('<p>' + dayList + '</p>');

            var startTime = padTime(datum.startHour) + ':' + padTime(datum.startMinute);
            var endTime = padTime(datum.endHour) + ':' + padTime(datum.endMinute);
            div.append('<p>' + startTime + ' - ' + endTime + '</p>');

            return div;
        }
    </script>
</body>
</html>